.rap{
	width: 1000px;
	margin: 0 auto;	
}

span{
	font-family:Calibri;
	font-size: 25px;
	font-weight: 10px;
	color:#ffffff;
	text-shadow: 2px 2px 2px black, 0 0 1em black;
	position:absolute;
	margin-top: 5px;
}

header{
	width: 1000px;
	height: 119px;
	margin-top: 10px;
	margin-left: 20px;	
}

.block1, .block2, .block3{
	width: 111px;
	height: 99px;
	background: #777777;
	padding: 5px;
	float: left;
}

.block2{
	width: 270px;
	margin-left: 24px;	
}

.block3{
	width: 495px;
	margin-left: 23px;	
}

.content{
	width: 1000px;
}

#contact{
	font-family:Arial;
	font-size:14px;
	line-height:22px;
	color: #ffffff;
	text-align: right;
}

#link{
	text-decoration:underline;
}

aside{
	display: table-cell;
	width: 210px;
	position: relative;
	overflow: hidden;
}

ul.menu{
	width: 175px;
	padding-top: 6px;
	padding-left: 10px;
	padding-bottom: 12px;
	background: #777777;
	
	color: #ffffff;
	font-family:Arial;
	font-size:14px;
	line-height:22px;
	list-style-type: none;
}

a{
	text-decoration: none;
	color: white;
}

a:active{
font-weight: bold;
}

main{
	display: table-cell;
	width: 750px;
}

.row{
	display: table;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#row > div,
#row > noindex > div {
    display: table-cell;
    width: auto;
    vertical-align: top;   
}

.block5{
	width: 730px;
	padding: 6px;
	background: #DCDCDC;
	
	font-family:Arial;
	font-size:14px;
	line-height:22px;
	color: #757575;
	overflow: hidden;
}

.block6_1, .block6{	
	width: 123px;
	height: 150px;
	background: #dcdcdc;
	margin-top: 20px;
	padding: 5px;
	float: left;
	overflow: hidden;
}

.block6{
	margin-left: 20px;
}

.clear{
	clear: both;
}

footer{
	margin-left: 20px;
	width: 1000px;
	height: 200px;
	margin-top: 20px;
}

.block10, .block11, .block12, .block13{
	width: 285px;
	height: 160px;
	background: #777777;
	padding: 5px;
	padding-left: 10px;

	font-family:Arial;
	font-size:14px;
	line-height:22px;
	color: white;
	float: left;
	overflow: hidden;
}

table{
	width: 100%;
}
td{
	width: 50%;
}

.block11{
	list-style-type: square;
	margin-left: 20px;
	padding-left: 20px;
}

.block12, .block13{
	width: 305px;
	height: 70px;
	margin-left: 20px;
}

.block13{
	margin-top: 10px;
}

hr{
	width:950px;
}

#columns {
	width: 765px;
	color: #757575;
    display: table;   
}

#columns > div,
#columns > noindex > div {
    display: table-cell;
}

 #center, #right{
 	min-width: 175px;
 	max-width: 175px;
	padding: 20px;
	background: #dcdcdc;

	border-style: solid;
	border-color: white;
	border-width: 20px;
	border-left: 0px;
	border-bottom: 0px;

	text-align: justify;	
	font-family:Arial;
	font-size:14px;
	line-height:22px;
	overflow: hidden;
}

.block7{
	position: absolute;
	width: 170px;
	padding: 10px;
	background: #777777;	
	bottom: 0px;
	text-align:justify;
	overflow: hidden;
}

#table{
	display: table;
	margin-left: 20px;
	margin-bottom: 20px;	
}
